body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


body {
  padding-top: 70px; 
}

.navbar {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.willie {
  color: white;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
.discount{
  color: black;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.sell {
  color: white;
  font-size: 30px;
  font-style: italic;
}
.shirts{
  color: white;
  font-size: 30px;
  font-style: italic;
}
.products {
  text-align: center;
  margin-top: 30px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
}

.my-container {
    padding-left: 15px; 
    padding-right: 15px; 
}
.arrival{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: gray;
    margin-top: 30px;
}

.fixed-image {
    width: 200px; 
    height: 200px; 
}

.cart-count {
  background-color: #ff5722;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  position: absolute;
  
}
.explore{
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.checkout-form {
  max-width: 300px;
  margin: 0 auto;
}

.checkout-field {
  margin-bottom: 15px;
}

.checkout-field input {
  border-radius: 5px;
  padding: 5px; 
  border: 1px solid #ccc; 
}

.paystack-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.paystack-button:hover {
  background-color: #0056b3;
}
.ending{
  margin-top: 20px;
  padding-top: 50px;
  background-color: black;
  color:  #959599;
}
.text-header{
  font-weight: bold;
  color: white;
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  
}
.ending{
  margin-top: 20px;
  padding-top: 50px;
  background-color: black;
  color:  #959599;
}

.text-header{
  font-weight: bold;
  color: white;
}
.copy{
  background-color: white;
  font-size: 18px;
  text-align: center;
  color: black;
  font-weight: bolder;
}
.cartt{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}