body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Add padding to the top of the content to prevent overlap with the fixed navbar */
body {
  padding-top: 70px; /* Adjust this value to match the height of your navbar */
}

.navbar {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.willie {
  color: white;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
.discount{
  color: black;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.sell {
  color: white;
  font-size: 30px;
  font-style: italic;
}
.shirts{
  color: white;
  font-size: 30px;
  font-style: italic;
}
.products {
  text-align: center;
  margin-top: 30px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
}

.my-container {
    padding-left: 15px; /* Adjust the left padding */
    padding-right: 15px; /* Adjust the right padding */
}
.arrival{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: gray;
    margin-top: 30px;
}
/* CSS class for fixed image size */
.fixed-image {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
}

.cart-count {
  background-color: #ff5722;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  position: absolute;
  
}

/* Paystack.css */

/* Style the checkout form container */
.checkout-form {
  max-width: 300px;
  margin: 0 auto;
}

/* Style the form fields */
.checkout-field {
  margin-bottom: 15px;
}

/* Style the input fields with border radius */
.checkout-field input {
  border-radius: 5px;
  padding: 5px; /* Add some padding for spacing */
  border: 1px solid #ccc; /* Add a border for clarity */
}

.paystack-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.paystack-button:hover {
  background-color: #0056b3;
}
.ending{
  margin-top: 20px;
  padding-top: 50px;
  background-color: black;
  color:  #959599;
}
.text-header{
  font-weight: bold;
  color: white;
}
